@media screen and (min-width: 650px) {
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }
 
  .app-bar .app-bar__brand h1 {
    font-size: 1.5em;
  }
 
  .app-bar .app-bar__menu {
    display: none;
  }
 
  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
  }
 
  .app-bar .app-bar__navigation ul li {
    display: inline-block;
  }
 
  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 0;
  }
 
  .resto_list {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 32px;
    grid-row-gap: 15px;
    margin-bottom: 15px;
  }
 
  .restaurant {
    grid-template-columns: auto 1fr;
  }
 
  .restaurant .restaurant__title {
    grid-column-start: 1;
    grid-column-end: 3;
  }
 
  .restaurant .restaurant__overview {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
 
@media screen and (min-width: 850px) {
  .app-bar .app-bar__brand h1 {
    font-size: 2em;
  }
  .resto_list{
     grid-template-columns: repeat(2, 1fr);
    max-width: 100%; 
    gap: 15px ;
    margin-bottom: 15px;
  }

  .image-hero img {
    max-width: 100%;
    height: auto;
    
  }
 
}

@media screen and (min-width: 1200px) {
  .resto_list {
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-bottom: 15px;
  }

  .image-hero img {
    max-width: 100%;
    height: auto;
    
  }
}


 

 

   

